@import "../../styles/colors";

.userCard {
  background-color: #fff;
  border: 1px solid $gray-200;
  border-radius: 8px;
  padding: 4px 16px 13px;
  min-width: 250px;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  .name {
    margin-bottom: 12px;
    font-size: 20px;
    color: $gray-800;
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: $gray-600;
    font-size: 14px;

    .icon {
      margin-right: 12px;
      color: $gray-400;
    }
  }

  @media (max-width: 784px) {
    max-width: 100%;
  }
}
