.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.mainContent {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.message {
  text-align: center;
  font-size: 1.2em;
  color: gray;
}
